[submodule "Razel/vendor/spdlog"]
	path = Razel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Razel/vendor/GLFW"]
	path = Razel/vendor/GLFW
	url = https://github.com/Jenwein/glfw
[submodule "Razel/vendor/imgui"]
	path = Razel/vendor/imgui
	url = https://github.com/Jenwein/imgui
